@page
@model ONG_ANIMALES_V4.Pages.QuienesSomosModel
@{
	ViewData["Title"] = "QuienesSomos";
}
@* SubPagina de quienes somos *@
<div class="container team-section">
    <h2>Quiénes Somos</h2>
    @* Tarjetas de presentacion *@
    <div class="team-cards">
        <div class="team-card">
            <img src="https://via.placeholder.com/100" alt="Miembro 1">
            <h3> Elvis Chávez</h3>
            <p>Estudiante en Sistemas Informaticos</p>
            <p>Edad: 22</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-whatsapp"></i> +503 7223 0285</a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="elvis.chavez@catolica.edu.sv"><i class="far fa-envelope"></i></a>
            </div>
        </div>
        <div class="team-card">
            <img src="https://via.placeholder.com/100" alt="Miembro 2">
            <h3>José Ramos</h3>
            <p>Estudiante en Sistemas Informaticos</p>
            <p>Edad: 25</p>
            <div class="social-icons">
				<a href="#"><i class="fab fa-whatsapp"></i> +503 7647 0679</a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="far fa-envelope"></i></a>
            </div>
        </div>
        <div class="team-card">
            <img src="https://via.placeholder.com/100" alt="Miembro 3">
            <h3>Rodrigo Ibarra</h3>
            <p>Estudiante en Sistemas Informaticos</p>
            <p>Edad: 24</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-whatsapp"></i> +503 7663 1919</a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="rodrigo.valiente@catolica.edu.sv"><i class="far fa-envelope"></i></a>
            </div>
        </div>
    </div>
</div>

@* Quienes somos, mison y vision *@
<div class="section">
    <h3>Misión</h3>
    <p>Nuestra misión es rescatar, rehabilitar y encontrar hogares amorosos para los animales en situación de abandono, promoviendo la tenencia responsable y el respeto por la vida animal.</p>
</div>
<div class="section">
    <h3>Visión</h3>
    <p>Buscamos construir un mundo donde todos los animales sean tratados con dignidad y respeto, reduciendo el abandono y fomentando la conciencia sobre la protección y bienestar animal.</p>
</div>

    <h3>Asociaciones Aliadas</h3>
    <div class="association-logos">
    <img src="https://www.animanaturalis.org/img/fb-image.jpg" alt="Asociación 1">
    <img src="https://cdn.sukycms.com/shelters/79/uploads/13432173_508664989324736_52116164955511239_n.jpg" alt="Asociación 2">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROFxicZ-ZrbEKNEG1vpUxHMRhN1VPLQyKNkA&s" alt="Asociación 3">
    </div>
